

.nav-pills {
    position: fixed;
    top: 0;
    left: 0;
    background: #9e9e9e;
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
}

.nav-pills a {
    color: #fff;

    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.nav-pills a:hover {
    color: #6581cf;
    background-color: #9e9e9e !important;
    text-transform: uppercase;
}
.logo
{
    font-family: 'Bungee Outline', cursive;
    font-size:26px;
}

.score
{
    color:#cecece;
    text-shadow: 2px 2px 4px #000000;
}

.normal {
    color: #fff;
}

.correct {
    color: #efe9a8;
    text-shadow: 2px 2px 4px #000000;
}

.incorrect {
    color: #e01146;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
}